.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  height: 100px;
  width: 100px;
  border: 2px solid gray;
  position: absolute;
  right: 0px;
  z-index: 10;
  background-color: #fff;
  height: calc(100vh - 64px);
  width: 30%;
  padding: 16px;
}
